---
Title : Installing Graylog on AWS EC2
lastmod: 2024-02-12
draft: true
menu:
  docs:
    parent: ""
weight: 60
toc: true
--- 


<body>
<h1 style="font-size:50px;">Graylog AWS EC2 Install</h1>
<p class="sub"> This guide describes the fastest way to install Graylog on AWS.</p>
<p class="em"> <em>Links and packages reflect those available on the article publish date.</em></p>
<br>

<h2>Prerequisites</h2>

<div class="danger">
<strong>Security Note:</strong>
   <p>The default install of Graylog will require port 9000 open for access. </p>
   <p>For best security practices, configure security group rules to allow connections only from IPs used for Graylog management.</p>
  </div>

<h3>AWS EC2 Instance</h3>
<ul>
<li><strong>Image Type:</strong>  Amazon Linux 2 AMI (HVM) - Kernel 5.10, SSD Volume Type - ami-033b95fb8079dc481 (64-bit x86) / ami-0f7691f59fd7c47af (64-bit Arm)  </li>
<li><strong>Image Size:</strong> For demo purposes, we will be using <a href="https://aws.amazon.com/ec2/instance-types/t2/"> t2.medium</a></li>
</ul>
<br>
<ul>
1. Update EC2 Instance

$ sudo yum update -y</code>
</ul>
<br>

<h3>Install Java version 17.02</h3>
<ul>
<li><p>Download Java 17 rpm package from official Oracle website:</p>
<p> <code>wget https://download.oracle.com/java/17/latest/jdk-17_linux-x64_bin.rpm</code> </p>
</li>
<div class="danger">
</p><strong>Security Note:</strong></p>
<p>As this package is not signed, we will confirm the integrity of the downloaded file by comparing its sha256 hash provided by Oracle. </p>
<code>sha256sum jdk-17_linux-x64_bin.rpm</code>
<p>Compare output with <a href="https://download.oracle.com/java/17/latest/jdk-17_linux-x64_bin.rpm.sha256">sha256 provided by Oracle:</a></p>
<code>53589079528059b9617ece9ecfd68e96c3bb0a7796f8a9a580d4057288f23239</code>
</div>

<li><p>Install Java 17</p></li>
<p> <code>$ sudo rpm -i jdk-17_linux-x64_bin.rpm</code></p>

<li><p>Check Java version to confirm install</p>
<p>  <code>java --version</code></p>
</li>
<li><p>As it is no longer needed delete jdk-17_linux-x64_bin.rpm </p></li>
<p> <code>rm jdk-17_linux-x64_bin.rpm</code></p>
</ul>
<h3>Install MongoDB</h3>

<div class="info">
<p><strong> Note: </strong><a href="https://docs.mongodb.com/manual/tutorial/install-mongodb-on-amazon/">Official AWS EC2 MongoDB installation instructions.</a></p>
</div>
<ul>
<li><p>Use command line editor of your choice configure MongoDB repository<br>
<p><code>$ sudo vim /etc/yum.repos.d/mongodb-org-5.0.repo</code> </p>
<p>Paste code block below into open file (/etc/yum.repos.d/mongodb-org-5.0.repo)</p>
<pre><code>[mongodb-org-5.0]</span>
<span class="hljs-attr">baseurl</span>=https://repo.mongodb.org/yum/amazon/<span class="hljs-number">2</span>/mongodb-org/<span class="hljs-number">5.0</span>/x<span class="hljs-number">86_64</span>/
<span class="hljs-attr">gpgcheck</span>=<span class="hljs-number">1</span>
<span class="hljs-attr">enabled</span>=<span class="hljs-number">1</span>
<span class="hljs-attr">gpgkey</span>=https://www.mongodb.org/static/pgp/server-<span class="hljs-number">5.0</span>.asc
</code></pre></li>
</li>
<li><p>Install the latest stable version of MongoDB.</p></li>
<p> <code>$ sudo yum install -y mongodb-org</code></p>
</ul>

<h3 >Install Elasticsearch</h3>
<div class="info">
<p><strong>Note: </strong><a href="https://www.elastic.co/blog/running-elasticsearch-on-aws">Official Elasticsearch AWS EC2 installation instructions</a></p>
</div>

<ul>
<li><p>Install the Elasticsearch GPG Key </p>
<p>  <code>$ sudo rpm --import https://artifacts.elastic.co/GPG-KEY-elasticsearch</code></p>
</li>
<li><p>Configure Elasticsearch repository configuration<br>
<i>Use command line editor of your choice</i></p>
<p>  <code>$ sudo vim /etc/yum.repos.d/elasticsearch.repo</code></p>
</li>
<li><p>Copy repository information below and paste in to open elasticsearch.repo file</p>
<pre><code>  [elasticsearch-<span class="hljs-number">7</span>.x]
  <span class="hljs-attr">name=Elasticsearch</span> repository for <span class="hljs-number">7</span>.x packages
  <span class="hljs-attr">baseurl=https://artifacts.elastic.co/packages/oss-7.x/yum</span>
  <span class="hljs-attr">gpgcheck=1</span>
  <span class="hljs-attr">gpgkey=https://artifacts.elastic.co/GPG-KEY-elasticsearch</span>
  <span class="hljs-attr">enabled=1</span>
  <span class="hljs-attr">autorefresh=1</span>
  <span class="hljs-attr">type=rpm-md</span>
</code></pre></li>
<li><p>Install the latest release of Elasticsearch </p>
<p>  <code>$ sudo yum install elasticsearch-oss -y</code></p>
</li>
<li><p>Modify the Elasticsearch configuration file (/etc/elasticsearch/elasticsearch.yml) to set the cluster name to graylog and uncomment action.auto_create_index: false to enable the action.</p>
<p>  <code>$ sudo tee -a /etc/elasticsearch/elasticsearch.yml &gt; /dev/null &lt;&lt;EOT
cluster.name: graylog
action.auto_create_index: false
EOT</code></p>

<div class=info>
<p><strong>Note: </strong>Whenever you make any changes to the systemd unit file, you will need to reload the systemd to pick up those changes.</p>
</div>
<li><p>Reload configuration files</p>
<p> <code>$ sudo systemctl daemon-reload</code></p>
</li>
<li><p>Restart Elasticsearch</p>
<p>  <code>$ sudo systemctl restart elasticsearch.service</code></p>
</li>
<li><p>Confirm Elasticsearch is running</p>
<p>  <code>systemctl status elasticsearch.service</code></p>
</li>
<li><p>Configure Elasticsearch to start following a system reboot</p>
<p>  <code>$ sudo systemctl enable elasticsearch.service</code></p>
</li>
</ul>
<h2 id="installing-graylog">Installing Graylog</h2>
<ul>
<li><p>Configure Graylog repository configuration</p>
<p>  <code>$ sudo rpm -Uvh https://packages.graylog2.org/repo/packages/graylog-4.2-repository_latest.rpm</code></p>
</li>
<li><p>Install Graylog packages</p>
<p>  <code>$ sudo yum install graylog-server graylog-enterprise-plugins graylog-integrations-plugins graylog-enterprise-integrations-plugins</code></p>
</li>
<li><p>Start Graylog</p>
<p>  <code>$ sudo systemctl start graylog-server.service</code></p>
</li>
<li><p>Confirm Graylog is running</p>
<p>  <code>systemctl status graylog-server.service</code></p>
</li>
<li><p>Configure Graylog to start following a system reboot</p>
<p>  <code>$ sudo systemctl enable graylog-server.service</code></p>
</li>
</ul>

</body>