{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if eq $.Site.Language.LanguageName "English" }}

  <html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    </style>
    </head>
    
    <img src="ellcookie.jpeg" style="width: 15%;">


  <section class="section section-sm">
    <div class="container">
      <div class="row justify-content-center text-center">
       
        <div class="col-lg-5">
          <h2 class="h4"> <a href="currentprojects">2024 Abstracts</a></h2>
          <p>Let's get the party started! </p>
        </div>
        
             
        <div class="col-lg-5">
          <h2 class="h4";> <a href="aboutme"> About Me</a></h2>
          <p> We may never truly know a person, but it doesn't mean we shouldn't try.</p>
        </div>

        
        <div class="col-lg-5">
          <h2 class="h4"> <a href="past-projects/">Past Projects</a></h2>
          <p>What can I say? It's been an adventure!</p>
        </div>

        <div class="col-lg-5">
          <h2 class="h4"> <a href="trophy-case/trophy-case">Awards</a></h2>
          <p>From certifications to badges.</p>
        </div>

        <div class="col-lg-5">
          <h2 class="h4"> <a href="/podcasting/podcast">Podcasting</a></h2>
          <p>From hosting to co-hosting, there is never a dull moment.</p>
        </div>

      </div>
    </div>
  </section>
  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
