// Put your custom SCSS code here

a {
    color: #078ad6; 
    text-decoration: none;  /* Removes the underline from links */
  }
  
  a:hover {
    color: #00858a; /* color when the user hovers over the link */
    text-decoration: underline; /* Adds an underline on hover */
  }
  
:root {
    --title-color: rgb(9, 126, 204);
}

.main-focus {
    color: var(--title-color);
    font-size: 25px;
    font-weight:bold;
    }


@media (prefers-color-scheme: dark) {
:root {
    --title-color: rgb(9, 207, 214);
    }
  }